{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load static %}
{% block content %}


<!doctype html>
<html lang="pl">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <title>Tutorting tutors</title>
      <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
   </head>
   <body>
    <div class="col-sm-6" style="margin: 0 auto; float: none;"> 
    <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'Building.jpg' %}" class="d-block" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'Classroom.jpg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
    </div> 
    </div>   
      <div class="container">
         <div class="row">
           <div class="col-sm-4">
             <h2>About Us</h2>
             <h5>Photo of our building:</h5>
             <div class="fakeimg">Fake Image</div>
             <p>We are a tutoring agency specalizing in highschool level academic help.</p>
             <h3>Some Links</h3>
             <p>Check out some resouces</p>
             <ul class="nav nav-pills nav-stacked">
               <li class="active"><a href="#">Link 1</a></li>
               <li><a href="#">Link 2</a></li>
               <li><a href="#">Link 3</a></li>
             </ul>
             <hr class="hidden-sm hidden-md hidden-lg">
           </div>
           <div class="col-sm-8">
             <h2>ACT help</h2>
             <div class="fakeimg">Fake Image</div>
             <p>The next ACT is June 10th</p>
             <p>Come work with us while we prepare out next group of students to take the next upcoming ACT</p>
             <br>
             <h2>SAT Help</h2>
             <div class="fakeimg">Fake Image</div>
             <p>The next SAT testing date is May 6th</p>
             <p>Come work with us while we prepare out next group of students to take the next upcoming SAT</p>
           </div>
         </div>
       </div>
       
       <div class="jumbotron text-center" style="margin-bottom:0">
         <p>Footer</p>
       </div>
       
         
           
   </body>
</html>




{% endblock %}

